body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e9e9e9;
}

/* SCREEN */
.screen {
  padding: 20px;
  padding-bottom: 100px;
}

/* HEADER */
.card-header {
  background: linear-gradient(180deg, #000, #111);
  color: white;
  border-radius: 25px;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.header-text {
  margin-left: 10px;
  flex: 1;
}

.date {
  font-size: 12px;
  opacity: 0.7;
}

.header-text h2 {
  margin: 2px 0;
}

.header-text p {
  font-size: 14px;
  opacity: 0.8;
}

/* NOTIF */
.notif {
  position: relative;
  font-size: 22px;
}

.notif span {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 50%;
}

/* SEARCH */
.search {
  margin-top: 15px;
  background: #6d6f75;
  border-radius: 15px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  color: #ddd;
}

/* QUESTION */
.question {
  font-size: 22px;
  margin: 20px 0;
  text-decoration: underline;
}

/* OPTIONS */
.options {
  display: flex;
  gap: 10px;
}

.option {
  flex: 1;
  background: #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

.option.active {
  background: #516a78;
  color: white;
  border: 2px solid #8fb3ff;
}

/* BLOCKS */
.block {
  margin-top: 25px;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* SLIDERS */
input[type="range"] {
  width: 100%;
  margin-top: 10px;
  accent-color: orange;
}

/* SCALE */
.scale {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
}

/* LABELS */
.labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
}

/* NAVBAR */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #516a78;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  color: white;
}

.nav div {
  text-align: center;
  font-size: 12px;
}