/* CAMERA SCREEN */
.camera-screen {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* IMAGEN */
.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OVERLAY OSCURO */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

/* SCAN BOX */
.scan-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 180px;

  border-radius: 20px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(8px);
}

/* NAVBAR (igual que antes pero más oscuro) */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #4f6670;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  color: white;
}

.nav div {
  text-align: center;
  font-size: 12px;
}

.nav .active {
  color: black;
}